body, html {
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
	font-family: 'Roboto', sans-serif;
}
.body-bg-wrapper {
	position: relative;
	height: 100%;
	background: url('../images/main-bg.png') no-repeat;
	background-size: 100%;
	background-position: center;
	.bg-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(238, 238, 238, 0.5);
	}
}
.content-container {
	position: relative;
	min-height: 100%;
	z-index: 1;
}
.middle-container {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	text-align: center;
	transform: translateY(-50%);
	p.outer-line-login {
		padding-top: 20px;
		font-size: 18px;
		color: $primary-black;
		span {
			color: $primary-red;
		}
	}
}
.middle-container-inner {
	display: inline-block;
	width: auto;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgb( 204, 204, 204 );
	/* Login */
	.margin0 {
		margin-left: 0;
		margin-right: 0;
	}
	.login-form-space {
		padding: 0 40px;
	}
	.fields-wrap {
		margin-top: 35px;
	}
	.fields-wrap-pass {
		padding-top: 30px;
	}
	.input-fields {
		padding: 0 20px;
		input[type=text], input[type=password] {
			padding-left: 10px;
			height: 40px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $primary-black;
			outline: 0;
			color: $primary-black;
			width: 100%;
			font-size: 18px;
			&::-webkit-input-placeholder {
				color: $primary-black;
			}
		}
	}
	.forgot-pass {
		font-size: 16px;
		padding-top: 25px;
		color: $primary-black;
		p {
			padding-right: 22px;
		}
	}
	.sign-in {
		margin-top: 30px;
		background-color: $primary-red;
		color: $primary-white;
		@include border-radius(0);
		border-top: 5px solid $primary-blue;
		width: 301px;
		font-size: 20px;
	}
}
.login-outer-wrap {
	padding-top: 30px;
	padding-bottom: 40px;
}