body, html {
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
	font-family: 'Roboto', sans-serif;
	color: #333;
}
.text-lead {
	font-size: 18px;
	font-weight: 500;
}
.extra-spacer {
	margin-top: 100px;
}
.body-bg-wrapper {
	position: relative;
	height: 100%;
	background: url('../images/main-bg.png') no-repeat;
	background-size: 100%;
	background-position: center;
	.bg-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(238, 238, 238, 0.5);
	}
}
.content-container {
	position: relative;
	min-height: 100%;
	z-index: 1;
}
.middle-container {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	text-align: center;
	transform: translateY(-50%);
	p.outer-line-login {
		padding-top: 20px;
		font-size: 18px;
		color: $primary-black;
		span {
			color: $primary-red;
		}
	}
}
.middle-container-inner {
	display: inline-block;
	width: auto;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgb( 204, 204, 204 );
	min-width: 830px;
	max-width: 830px;
	@media(max-width: 991px) {
		min-width: 100%;
		max-width: 100%;
	}
	.container-form-outer {
		padding-left: 20px;
		padding-right: 20px;
		width: 830px;
		@media(max-width: 991px) {
			width: 100%;
		}
		/* Login */
		.margin0 {
			margin-left: 0;
			margin-right: 0;
		}
		.login-form-space {
			padding: 0 40px;
		}
		.fields-wrap {
			margin-top: 35px;
		}
		.fields-wrap-pass {
			padding-top: 30px;
		}
		
		.forgot-pass {
			font-size: 16px;
			padding-top: 25px;
			color: $primary-black;
			p {
				padding-right: 22px;
			}
		}
		.sign-in {
			margin-top: 20px;
			background-color: $primary-red;
			color: $primary-white;
			@include border-radius(0);
			border-top: 5px solid $primary-blue;
			width: 301px;
			font-size: 20px;
		}
		/* Sign-up */
		.signup-logo {
			padding-top: 35px;
			img.logo-img {
				width: 235px;
				margin: auto;
			}
			.left-handshake-img {
				padding-top: 55px;
			}
			h5 {
				margin: 0;
				padding: 35px 0 0 15px;
				text-transform: uppercase;
				font-size: 16px;
				width: 250px;
				line-height: 1.667;
				text-align: center;
				font-weight: 400;
			}
			.handshake-list {
				width: 300px;
				h2 {
					margin: 0;
					padding-top: 50px;
					font-size: 20px;
					line-height: 1.5;
					text-align: center;
					color: $primary-red;
					font-weight: normal;
				}
				p {
					display: inline-block;
					padding-left: 12px;
					font-size: 16px;
					line-height: 1.38;
					color: $primary-black;
				}
				ul {
					padding: 10px 0 0 24px;
					li {
						list-style: none;
					}
				}
			}
		}
		.right-account-section {
			padding-top: 35px;
			padding-bottom: 40px;
			.form-outer {
				padding-top: 20px;
				.fields-outer-row {
					padding-bottom: 6px;
				}
			}
			.user-account {
				display: inline-block;
				&:nth-child(1) {
					float: right;
					vertical-align: middle;
				}
				h2 {
					margin: 0;
					font-size: 24px;
					font-weight: 400;
				}
				h6 {
					margin-top: 0;
					font-size: 14px;
					span {
						color: $primary-red;
						font-size: 14px;
						border-bottom: 1px solid $primary-red;
					}
				}
			}
			/* signup-option */
			.large-blue-btn {
				box-shadow: 0px 0px 6px 0px #ccc;
				border-radius: 0;
				background-color: $primary-blue;
				color: $primary-white;
				font-size: 30px;
				min-width: 360px;
				/*height: 140px;*/
			}
			.button-outer {
				padding-top: 65px;
				.btn-lg {
					padding: 0;
				}
				.button-inner-wrap {
					padding: 50px 0 50px 0;
					span {
						padding-left: 15px;
					}
				}
				.large-red-btn {
					box-shadow: 0px 0px 6px 0px #ccc;
					border-radius: 0;
					background-color: $primary-red;
					color: $primary-white;
					font-size: 30px;
					min-width: 360px;
				}
			}
		}
	}
	.login-container {
		width: 100%;
	}
}
.login-outer-wrap {
	padding-top: 30px;
	padding-bottom: 40px;
	min-width: 0;
	max-width: unset;
}
.input-fields {
	.bottom-border-input {
		@include bottom-border();
		&::-webkit-input-placeholder {
			color: $primary-black;
		}
	}
}
/* main screens ui */
.body-bg-color {
	background: #f9f9f9;
}
.big-title {
	font-size: 42px;
}
.ep-heading {
	position: relative;
	font-weight: 400;
	margin-bottom: 55px;
	&:after {
		position: absolute;
		content: "";
		background: $primary-red;
		height: 3px;
		width: 100px;
		bottom: -10px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.map-container {
	img {
		max-width: 100%;
	}
}
.map-note {
	font-style: italic;
	margin-top: 25px;
	margin-bottom: 60px;
}
.order-estimate-module {
	display: inline-block;
	padding: 20px 25px;
	text-align: center;
	background: $primary-red;
	color: #fff;
	span {
		display: block;
		font-weight: 300;
	}
	.est-title {
		margin-bottom: 8px;
		text-transform: uppercase;
		font-size: 18px;
	}
	.est-sub-title {
		text-transform: capitalize;
		font-size: 16px;
	}
}
/* Eagleview Order */
.ep-bottom-banner {
	margin-top: 20px;
	padding: 20px;
	background: #fff;
	color: $text-color;
}