.custom-navbar {
	background: #fff;
	border-top: 5px solid $primary-blue;
	border-bottom: 0;
	.navbar-brand {
		height: auto;
		img {
			width: 234px;
			@media(max-width: 767px) {
				width: 200px;
			}
		}
	}
	.navbar-nav {
		@media(min-width: 768px) {
			margin-top: 35px;
		}
		& > .open > a {
			background-color: transparent;
			&:hover, 
			&:focus {
				background-color: transparent;
			}
		}
		& > li {
			outline: none;
			& > a {
				padding-right: 20px;
				padding-left: 20px;
				color: $text-color;
				font-size: 18px;
				outline: none;
				&:hover,
				&:focus {
					opacity: 0.7;
					outline: none;
				}
			}
			&.user-menu {
				a {
					font-size: 15px;
					padding-bottom: 0;
					padding-top: 4px;
					padding-right: 0;
					.user-profile-pic {
						@include border-radius(100%);
						height: 45px;
						width: 45px;
						margin-right: 5px;
					}
				}
				.caret {
					border-width: 5px;
					margin-top: -1px;
				}
			}
			&.active {
				a {
					background-color: transparent;
					opacity: 0.7;
					&:hover, 
					&:focus {
						background-color: transparent;
						opacity: 0.7;
					}
				}
			}
			&:focus {
				outline: none;
			}
		}
	}
	.navbar-header {
		position: relative;
		.navbar-toggle {
			position: absolute;
			margin: 0;
			top: 50%;
			right: 15px;
			border-color: #333;
			@include translate(translateY(-50%));
			.icon-bar {
				background-color: #333;
			}
			&:hover,
			&:focus {
				background-color: #f5f5f5;
			}
		}
	}
}
.ep-breadcrumbs {
	background: transparent;
	padding: 0;
	margin-bottom: 10px;
	li {
		a {
			color: $text-color;
			text-decoration: underline;
			font-weight: 500;
		}
		&.active {
			color: $text-color;
			font-weight: 500;
		}
	}
	& > li + li:before {
		content: "\f105";
		font-family: FontAwesome;
		color: #000;
		font-size: 18px;
		vertical-align: middle;
		padding: 0 10px;
	}
}
.tabs-outer {
	.nav-tabs {
		border-bottom: none;
		li {
			padding: 0;
			a {
				padding: 0;
			}
		}
		.tabs-inner {
			display: inline-block;
			width: 33.3%;
			float: left;
		}
		.nav>li>a {
			padding: 0;
			border: none;
			&:hover,
			&:focus {
				border: none;
				cursor: pointer;
			}
		}
	}
}
.tabs-outer .nav-tabs>li>a {
	border: 0;
}
.tabs-outer .nav-tabs>li>a:hover {
	border: 0;
	background-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 0;
	color: transparent;
	background-color: transparent;
}