@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin translate($translate) {
  -webkit-transform: $translate;
     -moz-transform: $translate;
      -ms-transform: $translate;
          transform: $translate;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}
@mixin bottom-border() {
	padding-left: 10px;
	height: 35px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid $primary-black;
	outline: 0;
	color: $primary-black;
	width: 100%;
	font-size: 16px;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}